In [ ]:
#sample file to learn and understand xg boost

In [12]:
#import libs
import pandas as pd
import numpy as np

#import ml libraries
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from xgboost import XGBClassifier

In [13]:
#read data
!echo %cd%

C:\Users\vrish\Documents\Humber\project\Tech-Troopers\Vrishab\XgBoost

In [32]:
path = '../Data/csv_result-electricity-normalized.csv'
df = pd.read_csv(path)

In [33]:
display(df.info())
print("\n")
display(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45312 entries, 0 to 45311
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         45312 non-null  int64
 1   date       45312 non-null  float64
 2   day        45312 non-null  int64
 3   period     45312 non-null  float64
 4   nswprice   45312 non-null  float64
 5   nswdemand  45312 non-null  float64
 6   vicprice   45312 non-null  float64
 7   vicdemand  45312 non-null  float64
 8   transfer   45312 non-null  float64
 9   class      45312 non-null  object
dtypes: float64(7), int64(2), object(1)
memory usage: 3.5+ MB

None

,id,date,day,period,nswprice,nswdemand,vicprice,vicdemand,transfer,class
0,1,0.0,2,0.000000,0.056443,0.439155,0.003467,0.422915,0.414912,UP
1,2,0.0,2,0.021277,0.051699,0.415055,0.003467,0.422915,0.414912,UP
2,3,0.0,2,0.042553,0.051489,0.385004,0.003467,0.422915,0.414912,UP
3,4,0.0,2,0.063830,0.045485,0.314639,0.003467,0.422915,0.414912,UP
4,5,0.0,2,0.085106,0.042482,0.251116,0.003467,0.422915,0.414912,DOWN

In [34]:
#check for null values
df.isnull().sum()

id           0
date         0
day          0
period       0
nswprice     0
nswdemand    0
vicprice     0
vicdemand    0
transfer     0
class        0
dtype: int64

In [42]:
#data looks to be already cleaned
#split data to 2000 rows instead of 45000
df_trim = df.iloc[:2000].copy(deep = True)

df_trim['class'] = df_trim['class'].replace({'UP': 1, 'DOWN': 0})

C:\Users\vrish\AppData\Local\Temp\ipykernel_36508\3607850300.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_trim['class'] = df_trim['class'].replace({'UP': 1, 'DOWN': 0})

In [43]:
#class is the dependent variable
y = df_trim['class']
df_trim.drop('class', axis = 1, inplace = True)
x = df_trim

display(y)
display(x.head())

0       1
1       1
2       1
3       1
4       0
       ..
1995    1
1996    1
1997    0
1998    1
1999    1
Name: class, Length: 2000, dtype: int64

   id  date  day    period  nswprice  nswdemand  vicprice  vicdemand  transfer
0   1   0.0    2  0.000000  0.056443   0.439155  0.003467   0.422915  0.414912
1   2   0.0    2  0.021277  0.051699   0.415055  0.003467   0.422915  0.414912
2   3   0.0    2  0.042553  0.051489   0.385004  0.003467   0.422915  0.414912
3   4   0.0    2  0.063830  0.045485   0.314639  0.003467   0.422915  0.414912
4   5   0.0    2  0.085106  0.042482   0.251116  0.003467   0.422915  0.414912

In [44]:
#split data into train and test
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

# Initialize the XGBoost classifier
model = XGBClassifier()

# Train the model on the training data
model.fit(X_train, y_train)

# Make predictions on the test data
y_pred = model.predict(X_test)

# Evaluate the accuracy of the model
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.99

In [ ]:
#basic model has an accuracy of 0.99
#possible overfitting