In [1]:
import numpy as np
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go

from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.metrics import confusion_matrix, roc_curve, auc, accuracy_score
from xgboost import XGBClassifier

from huggingface_hub import hf_hub_download

import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv('C:\\Users\\vrish\\Documents\\Humber\\project\\Tech-Troopers\\Common\\results_temp\\reg_cat\\random-forest-results\\Brazilian_houses.csv')
df.dropna(axis=1, how='all')
df.head()

,val_r2_score,test_r2_score,train_r2_score,bootstrap,ccp_alpha,criterion,max_depth,max_features,max_leaf_nodes,max_samples,min_impurity_decrease,min_samples_leaf,min_samples_split,min_weight_fraction_leaf,n_estimators,n_jobs,oob_score,random_state,verbose,warm_start
0,0.993598,0.994500,0.998556,True,0.0,squared_error,NaN,1.0,NaN,NaN,0.0,1,2,0.0,100,NaN,False,NaN,0,False
1,0.956028,0.966849,0.950932,True,0.0,absolute_error,4.0,log2,NaN,NaN,0.0,4,2,0.0,168,NaN,False,NaN,0,False
2,0.936360,0.947729,0.930969,False,0.0,absolute_error,3.0,0.6,NaN,NaN,0.0,9,2,0.0,735,NaN,False,NaN,0,False
3,0.847226,0.858825,0.844731,True,0.0,friedman_mse,2.0,0.3,NaN,NaN,0.0,42,2,0.0,28,NaN,False,NaN,0,False
4,0.861688,0.873579,0.858025,True,0.0,friedman_mse,2.0,sqrt,NaN,NaN,0.0,2,2,0.0,2919,NaN,False,NaN,0,False

In [3]:
df[df.columns[:3]] = df[df.columns[:3]].apply(pd.to_numeric)

In [4]:
for col in df.select_dtypes(include=['object']).columns :
	print(f'Col - {col} : {df[col].unique()}')

Col - criterion : ['squared_error' 'absolute_error' 'friedman_mse']
Col - max_features : ['1.0' 'log2' '0.6' '0.3' 'sqrt' '0.9' '0.5' '0.8' '0.7' nan '0.2']