## What are lagged features?

Lagged features are used in time series analysis and forecasting. They are essentially previous values of the same variable shifted by a certain time period. By incorporating lagged features into a model, you can help capture temporal dependencies in the data.

## Why Use Lagged Features?

- **Autocorrelation**: Many time series data exhibit autocorrelation, where past values influence current values.
- **Patterns and Seasonality**: Lagged features can help capture recurring patterns and seasonality in the data.

For example, if we are trying to predict the motor speed for the next timestep, we might use the speed from the previous few timesteps as input features.

In [1]:
import pandas as pd

In [2]:
data = {
    'Date': pd.date_range(start='2023-01-01', periods=10, freq='D'),
    'RPM': [1500, 1520, 1480, 1510, 1495, 1530, 1505, 1515, 1500, 1525]
}
df = pd.DataFrame(data)
df

        Date   RPM
0 2023-01-01  1500
1 2023-01-02  1520
2 2023-01-03  1480
3 2023-01-04  1510
4 2023-01-05  1495
5 2023-01-06  1530
6 2023-01-07  1505
7 2023-01-08  1515
8 2023-01-09  1500
9 2023-01-10  1525

In [3]:
# Create a lag of 1 day
df['Lag1'] = df['RPM'].shift(1)

# Create a lag of 2 days
df['Lag2'] = df['RPM'].shift(2)

# Create a lag of 3 days
df['Lag3'] = df['RPM'].shift(3)
df

        Date   RPM    Lag1    Lag2    Lag3
0 2023-01-01  1500     NaN     NaN     NaN
1 2023-01-02  1520  1500.0     NaN     NaN
2 2023-01-03  1480  1520.0  1500.0     NaN
3 2023-01-04  1510  1480.0  1520.0  1500.0
4 2023-01-05  1495  1510.0  1480.0  1520.0
5 2023-01-06  1530  1495.0  1510.0  1480.0
6 2023-01-07  1505  1530.0  1495.0  1510.0
7 2023-01-08  1515  1505.0  1530.0  1495.0
8 2023-01-09  1500  1515.0  1505.0  1530.0
9 2023-01-10  1525  1500.0  1515.0  1505.0

## Explaination
- **NaN Values**: The NaN values appear because there are no previous values to shift into those positions. For example, on January 1, there is no value from the previous day to use as a lagged feature.
- **Lagged Columns**: The columns Lag1, Lag2, and Lag3 represent the RPM values from 1, 2, and 3 days ago, respectively.